llama-index-core
llama-index-readers-file

unstructured
unstructured[pdf]
unstructured[docx]
unstructured[pptx]
unstructured[xlsx]
unstructured[local-inference]
unstructured-inference

python-magic-bin
pypdf
python-docx
python-pptx
openpyxl
pandas

python-dotenv
tqdm
pydantic